node_modules
.env
# .env.example
.env.local
.env.account

coverage
coverage.json
typechain
typechain-types

# cursor files

# Hardhat files
cache/
artifacts/
abi/
secret/
vibeCoding/
# other files
log.md